<div id="home">
    <!--<div class="main">-->  
    <div id="circle-container">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
            <circle cx="50" cy="50" r="40%" stroke="black" stroke-width="2%" fill="none" />
            <text x="50" y="10" text-anchor="middle">0°</text>
            <text x="90" y="50" text-anchor="middle">90°</text>
            <text x="50" y="90" text-anchor="middle">180°</text>
            <text x="10" y="50" text-anchor="middle">270°</text>
            <!-- Weitere Punkte und Texte hier -->
        </svg>
    </div>
</div>