<div id="home">

 <!--<div class="main">-->  
<div class="container">

    <div class="container my-3">
        <h1 style="text-align:center;">Welcome to Inkluvision</h1>
    </div>
    
    <div class="card">
        <div class="card-body">
            <h3 style="text-align:center;">Thanks for landing on this page to know more about us.</h3>
            <br>
            <h6>Bei Inkluvision entwickeln wir eine digitale Plattform, auf der 
                Unternehmen und Menschen auf Augenhöhe kommunizieren.
                Unser Ziel ist es, Räume für Begegnungen zu schaffen und 
                inklusive Arbeitsumgebungen durch Coaching, Wissensaustausch 
                und nachhaltige Zusammenarbeit zu fördern.
                Aktuell gestalten wir eine Arbeitsplattform, die Menschen mit 
                Behinderungen und Arbeitgebern Coaching, Unterstützung und 
                Austausch bietet.</h6>
            <h6>An die inspirierenden Menschen mit Behinderungen im 
                Arbeitsmarkt:
                Teilen Sie Ihre Erfahrungen mit uns, helfen Sie, die Plattform 
                optimal auf Ihre Bedürfnisse auszurichten und Hindernisse zu 
                überwinden.</h6>
            <h6>An die engagierten Unternehmen:
                Ihr vorbildliches Engagement verdient Anerkennung. Nutzen Sie 
                Ihre Erfahrungen, um die Plattform zu einem Leitfaden für andere 
                Unternehmen zu machen und die Vielfalt am Arbeitsplatz zu 
                fördern.</h6>
            
            <h3 style="text-align:center;">Wir freuen uns auf den Dialog, um voneinander zu lernen und 
                unsere Plattform kontinuierlich zu verbessern.</h3>
        </div>
    </div>  
    <!--</div>-->
</div> 